  <!DOCTYPE HTML>
<!--
	Phantom by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Phantom by HTML5 UP</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway|Roboto|Poppins" rel="stylesheet">
	</head>
	<body style = "background-color: #dbdce0; font-family: 'Montserrat', sans-serif;">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<header style = "margin-top: 4em; margin-bottom: 2em;">
								<!--<img src="http://i.imgur.com/4VxGqyb.png" alt="" />-->
								<center><h1 >Your Dashboard</h1></center>
							   <% if(marketopen == false){ %>
							   <center><b><h3>Markets are Closed</h3></b></center>
							   <center><p>Last Updated: <%= stocks[0].lastupdated %></p></center>
                               <% }else{ %>
                                  <center><p >Last Updated: <%= stocks[0].lastupdated %></p></center>
                                <% } %>
							</header>
							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>

						</div>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<h2>Menu</h2>
						<ul>
							<li><a href="/">Home</a></li>
							<li><a href="generic.html">Your account</a></li>
							<li><a href="/stocks/new">Add an asset</a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main" style = "margin-top: -1em;">
						<div class="inner">
						
							<section class="tiles">
						  
						  <% stocks.forEach(function(stock){ %>
						   <%  var x = Math.floor((Math.random() * 6) + 1); %>
						  	<article class="style<%=x%>">
									<span class="image">
										<img src="http://i.imgur.com/ue7H5cK.png" alt="" />
									</span>
									<a href="stock/<%=stock._id%>">
										<h1 style = "margin-top: 0.3em; font-size: 40px; color: white;"><%= stock.company %></h1>
										<h2 style = "font-size: 30px; color: white;">$<%= stock.stockprice %> </h2>
										<%  pricechange = stock.stockprice - stock.previousprice; %>
	                          			<%  percentchange = (pricechange/stock.previousprice) * 100; %>
										<% if(pricechange < 0){ %>
									    	<h3  style = "color: white; margin-top: 2em;"><i class="fa fa-arrow-down" aria-hidden="true"></i>$<%= pricechange.toFixed(2) %> (<%= percentchange.toFixed(2) %>%)</h3>
										<% }else{ %>
									    	<h3 style = "color: white; margin-top: 2em;"><i class="fa fa-arrow-up" aria-hidden="true"></i>$<%= pricechange.toFixed(2) %> (<%= percentchange.toFixed(2)%>%) </h3>
										<% } %>

										<div class="content" style = "margin-top:-0.8em;">
											
											<p style = "color: lightblue">See More</p>
											
										</div>
									</a>
							</article>

						  <% }) %>
							
					    	</section>
						</div>
					</div>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<section>
								<h2>Have any questions?</h2>
								<form method="post" action="#">
									<div class="field half first">
										<input type="text" name="name" id="name" placeholder="Name" />
									</div>
									<div class="field half">
										<input type="email" name="email" id="email" placeholder="Email" />
									</div>
									<div class="field">
										<textarea name="message" id="message" placeholder="Message"></textarea>
									</div>
									<ul class="actions">
										<li><input type="submit" value="Send" class="special" /></li>
									</ul>
								</form>
							</section>
							<section>
								<h2>Created by<div> Kartik Singhal</div></h2>
								
								<ul class="icons">
									<li><a href="#" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="#" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
									<li><a href="#" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="#" class="icon style2 fa-dribbble"><span class="label">Dribbble</span></a></li>
									<li><a href="#" class="icon style2 fa-github"><span class="label">GitHub</span></a></li>
									<li><a href="#" class="icon style2 fa-500px"><span class="label">500px</span></a></li>
									<li><a href="#" class="icon style2 fa-phone"><span class="label">Phone</span></a></li>
									<li><a href="#" class="icon style2 fa-envelope-o"><span class="label">Email</span></a></li>
								</ul>
							</section>
							<ul class="copyright">
								<li>&copy; Untitled. All rights reserved</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="js/jquery.min.js"></script>
			<script src="js/skel.min.js"></script>
			<script src="js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="js/main.js"></script>

	</body>
</html>