<!DOCTYPE HTML>
<!--
	Phantom by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>NextStock</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway|Roboto|Poppins" rel="stylesheet">

	</head>
	<body style = "background-color: #dbdce0; font-family: 'Montserrat', sans-serif;">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<!--<a href="index.html" class="logo">-->
								<!--	<span class="symbol"><img src="images/logo.svg" alt="" /></span><span class="title">Phantom</span>-->
								<!--</a>-->

							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>

						</div>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<h2>Menu</h2>
						<ul>
							<li><a href="/">Home</a></li>
							<li><a href="generic.html">Your account</a></li>
							<li><a href="elements.html">Elements</a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main"  style = "margin-top: 3em; margin-bottom: 2em;">
						<div class="inner">
							<center><a href="/" class="button special">Home</a><h1><%= stock.company %> </h1></center>
							<span class="image main" style = "height: 30em;">
								
								<!-- TradingView Widget BEGIN -->
								<script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
								<script type="text/javascript">
								
								new TradingView.widget({
								  "autosize": true,
								  "symbol": "<%= stock.market %>:<%= stock.ticker %>",
								  "interval": "60",
								  "timezone": "Etc/UTC",
								  "theme": "White",
								  "style": "3",
								  "locale": "en",
								  "toolbar_bg": "#f1f3f6",
								  "enable_publishing": false,
								  "details": true,
								  "hideideas": true
								});
								</script>
								<!-- TradingView Widget END -->

							</span>
							<center><h1>News From Around the Web:</h1></center>
							
							<% news.forEach(function(news){ %>
								
								<% if(news["description"] !== null){ %>
								   
								    <div style="margin-bottom: 10em;">
									    
									    <p style = "font-size: 1.3em" ><b><a target="_blank" href = "<%= news["url"] %>"><%= news["title"] %></a></b></p>
										<div>
											<span class = "image left">
												<img style = "width: 10em; height: auto;" src = "<%= news["source"]["imageUrl"] %>"> 
											</span>
										    <p>
												<%= news["description"] %>
											</p>
										</div>
									
									</div>
								    <hr>
							    <% } %>
							<% }) %>
						</div>
					</div>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<section>
								<h2>Get in touch</h2>
								<form method="post" action="#">
									<div class="field half first">
										<input type="text" name="name" id="name" placeholder="Name" />
									</div>
									<div class="field half">
										<input type="email" name="email" id="email" placeholder="Email" />
									</div>
									<div class="field">
										<textarea name="message" id="message" placeholder="Message"></textarea>
									</div>
									<ul class="actions">
										<li><input type="submit" value="Send" class="special" /></li>
									</ul>
								</form>
							</section>
							<section>
								<h2>Follow</h2>
								<ul class="icons">
									<li><a href="#" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="#" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
									<li><a href="#" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="#" class="icon style2 fa-dribbble"><span class="label">Dribbble</span></a></li>
									<li><a href="#" class="icon style2 fa-github"><span class="label">GitHub</span></a></li>
									<li><a href="#" class="icon style2 fa-500px"><span class="label">500px</span></a></li>
									<li><a href="#" class="icon style2 fa-phone"><span class="label">Phone</span></a></li>
									<li><a href="#" class="icon style2 fa-envelope-o"><span class="label">Email</span></a></li>
								</ul>
							</section>
							<ul class="copyright">
								<li>&copy; Untitled. All rights reserved</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="/js/jquery.min.js"></script>
			<script src="/js/skel.min.js"></script>
			<script src="/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="/js/main.js"></script>

	</body>
</html>